.form-content {
  width: fit-content;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.149);
  border-radius: 4px;
}
.form-content > h3 {
  text-align: center;
  margin: 30px;
  font-size: 1.7rem;
  color: black;
}

.form-content > form > div {
  margin: 20px 0;
}
.form-content label {
  display: inline-block;
  width: 100px;
}
.form-content input,
.form-content select {
  width: 200px;
  padding: 5px 10px;
  border-radius: 100px;
  border: 1px solid #34336b;
  background-color: transparent;
  outline: none;
}

.form-content input:focus,
.form-content select:focus {
  outline: 1px solid #34336b;
}
.form-content button {
  background-color: #34336b;
  color: white;
  border: none;
  display: block;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
  margin: 50px auto;
}


.form-content > p{

  margin: 10px 0;

}
.form-content > p > span {
  font-weight: 600;
  color: #34336b;
  text-transform: capitalize;
}
