{% extends "book_store/base.html" %} 
{% load static %} 
{% block content %}
  <link rel="stylesheet" href="{% static 'authentication/style.css' %}"/>
  <div class="form-content">
    {% if buser %}
      <h3>User Data</h3>
      <p><span>username: </span>{{ buser.user.username }}</p>
      <p><span>role: </span>{{ buser.role }}</p>
    {% else %}

      <h3>Search User</h3>
      <form method="post">
        {% csrf_token %}
        <div>
          <label>user id</label>
          <input name="id" type="text" />
        </div>
        <button type="submit">search</button>
      </form>


    {% endif %} 
  </div>
{% endblock %}
